<style>

.container {
  background: ;
}

body {
  background-image: url("http://imgur.com/SecspB3.jpg?1");
}

h1, h3 {
  color: white;
}

h4 {
  margin: 0;
  color: white;
  text-indent: 25px;
}

p {
  text-indent: 50px;
  color: white;
  margin: 0;
}

.topmargin {
  margin-top: 20px;
}

.formcolor {
  background-color: white;
  border-radius: 25px;
  padding: 20px
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}


</style>
